---
title: Hybrid buttons
---

each size in ['default', 'sm', 'md', 'lg', 'xl']
  div(class={
    'test-base': size == 'default',
    [`test-${size}`]: size != 'default'
  })
    span.-text--h2= `Hybrid buttons / ${size}`
    .lux-button-group
      button.lux-button(class={
        [`-${size}`]: size != 'default'
      })
        .lux-button__content
          .lux-icon
            svg
              use(xlink:href='#icon-atom')
          span Reinstall
      button.lux-button.-icon(class={
        [`-${size}`]: size != 'default'
      })
        .lux-button__content
          .lux-icon
            svg
              use(xlink:href='#icon-atom')

  div(class={
    'test-fluid': size == 'default',
    [`test-${size}-fluid`]: size != 'default'
  })
    span.-text--h2= `Hybrid buttons / ${size} / fluid`
    each modifier in ['align--left', '', 'align--right']
      .lux-button-group.-fluid.-m--1(style="width:200px")
        button.lux-button(class={
          [`-${size}`]: size != 'default',
          [`-${modifier}`]: modifier != ''
        }) Button
        button.lux-button.-icon.-no-fluid(class={
          [`-${size}`]: size != 'default'
        })
          .lux-button__content
            .lux-icon
              svg
                use(xlink:href='#icon-atom')
