h2 Examples
p.-text
  | Lux includes three badge variants: Solid, Outline, and Flat. Use <code>solid</code>
  | badges for high emphasis, base or <code>outline</code> badges for medium
  | emphasis, and <code>flat</code> badges for low emphasis.
h3 Solid
.example.-mb--3
  .lux-grid.-no-gutter
    .lux-col.-w--12
      .-p--2.-text--center
        lux-badge(class='-m--1')= 'Base'
        lux-badge(class='-m--1', color='primary')= 'Primary'
        lux-badge(class='-m--1', color='success')= 'Success'
        lux-badge(class='-m--1', color='warning')= 'Warning'
        lux-badge(class='-m--1', color='danger')= 'Danger'
        lux-badge(class='-m--1', color='dark')= 'Dark'
        lux-badge(class='-m--1', color='muted')= 'Muted'
    .lux-col.-w--12
      .-p--2.-bg--black.-text--center
        lux-badge(class='-m--1', color='secondary')= 'Secondary'
        lux-badge(class='-m--1', color='light')= 'Light'
  .example-tabs.-pl--2
    ul.lux-tabs#example-solid
      li.-active
        a(href=`#webcomponent-solid`) Web Component
      li
        a(href=`#html-solid`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-solid
    .lux-tab__description
      | To display a badge, use the tag <code>&lt;lux-badge&gt;</code>.
      | A contextual color (e.g. <code>primary</code>) can be defined on the <code>color</code> attribute to provide alternate styling.
    :code(lang="html")
      <!-- For light backgrounds -->
      <lux-badge>Base</lux-badge>
      <lux-badge color="primary">Primary</lux-badge>
      <lux-badge color="success">Success</lux-badge>
      <lux-badge color="warning">Warning</lux-badge>
      <lux-badge color="danger">Danger</lux-badge>
      <lux-badge color="dark">Dark</lux-badge>
      <lux-badge color="muted">Muted</lux-badge>
      <!-- For dark backgrounds -->
      <lux-badge color="secondary">Secondary</lux-badge>
      <lux-badge color="light">Light</lux-badge>
  .lux-tabs-panel#html-solid
    .lux-tab__description
      | To display a badge, use the class <code>lux-badge</code>.
      | A contextual class (e.g. <code>-primary</code>) can be applied to provide alternate styling.
    :code(lang="html")
      <!-- For light backgrounds -->
      <div class="lux-badge">
        <span>Base</span>
      </div>
      <div class="lux-badge -primary">
        <span>Primary</span>
      </div>
      <div class="lux-badge -success">
        <span>Success</span>
      </div>
      <div class="lux-badge -warning">
        <span>Warning</span>
      </div>
      <div class="lux-badge -danger">
        <span>Danger</span>
      </div>
      <div class="lux-badge -dark">
        <span>Dark</span>
      </div>
      <div class="lux-badge -muted">
        <span>Muted</span>
      </div>
      <!-- For dark backgrounds -->
      <div class="lux-badge -secondary">
        <span>Secondary</span>
      </div>
      <div class="lux-badge -light">
        <span>Light</span>
      </div>

h3 Outline
.example.-mb--3
  .lux-grid.-no-gutter
    .lux-col.-w--12
      .-p--2.-text--center
        lux-badge(class='-m--1', color='primary', variant='outline')= 'Primary'
        lux-badge(class='-m--1', color='success', variant='outline')= 'Success'
        lux-badge(class='-m--1', color='warning', variant='outline')= 'Warning'
        lux-badge(class='-m--1', color='danger', variant='outline')= 'Danger'
        lux-badge(class='-m--1', color='dark', variant='outline')= 'Dark'
        lux-badge(class='-m--1', color='muted', variant='outline')= 'Muted'
    .lux-col.-w--12
      .-p--2.-bg--black.-text--center
        lux-badge(class='-m--1', color='secondary', variant='outline')= 'Secondary'
        lux-badge(class='-m--1', color='light', variant='outline')= 'Light'
  .example-tabs.-pl--2
    ul.lux-tabs#example-outline
      li.-active
        a(href=`#webcomponent-outline`) Web Component
      li
        a(href=`#html-outline`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-outline
    .lux-tab__description
      | To remove solid background and keep its colored border, set the <code>variant</code> attribute value to <code>outline</code>.
    :code(lang="html")
      <!-- For light backgrounds -->
      <lux-badge color="primary" variant="outline">Primary</lux-badge>
      <lux-badge color="success" variant="outline">Success</lux-badge>
      <lux-badge color="warning" variant="outline">Warning</lux-badge>
      <lux-badge color="danger" variant="outline">Danger</lux-badge>
      <lux-badge color="dark" variant="outline">Dark</lux-badge>
      <lux-badge color="muted" variant="outline">Muted</lux-badge>
      <!-- For dark backgrounds -->
      <lux-badge color="secondary" variant="outline">Secondary</lux-badge>
      <lux-badge color="light" variant="outline">Light</lux-badge>
  .lux-tabs-panel#html-outline
    .lux-tab__description
      | To remove solid background and keep its colored border, apply the class <code>-outline</code>.
    :code(lang="html")
      <!-- For light backgrounds -->
      <div class="lux-badge -primary -outline">
        <span>Primary</span>
      </div>
      <div class="lux-badge -success -outline">
        <span>Success</span>
      </div>
      <div class="lux-badge -warning -outline">
        <span>Success</span>
      </div>
      <div class="lux-badge -danger -outline">
        <span>Danger</span>
      </div>
      <div class="lux-badge -dark -outline">
        <span>Dark</span>
      </div>
      <div class="lux-badge -muted -outline">
        <span>Muted</span>
      </div>
      <!-- For dark backgrounds -->
      <div class="lux-badge -secondary -outline">
        <span>Secondary</span>
      </div>
      <div class="lux-badge -light -outline">
        <span>Light</span>
      </div>

h3 Flat
.example.-mb--3
  .lux-grid.-no-gutter
    .lux-col.-w--12
      .-p--2.-text--center
        lux-badge(class='-m--1', color='primary', variant='flat')= 'Primary'
        lux-badge(class='-m--1', color='success', variant='flat')= 'Success'
        lux-badge(class='-m--1', color='warning', variant='flat')= 'Warning'
        lux-badge(class='-m--1', color='danger', variant='flat')= 'Danger'
        lux-badge(class='-m--1', color='dark', variant='flat')= 'Dark'
        lux-badge(class='-m--1', color='muted', variant='flat')= 'Muted'
    .lux-col.-w--12
      .-p--2.-bg--black.-text--center
        lux-badge(class='-m--1', color='secondary', variant='flat')= 'Secondary'
        lux-badge(class='-m--1', color='light', variant='flat')= 'Light'
  .example-tabs.-pl--2
    ul.lux-tabs#example-flat
      li.-active
        a(href=`#webcomponent-flat`) Web Component
      li
        a(href=`#html-flat`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-flat
    .lux-tab__description
      | To render a badge without background and border, set the <code>variant</code> attribute value to <code>flat</code>.
    :code(lang="html")
      <!-- For light backgrounds -->
      <lux-badge color="primary" variant="flat">Primary</lux-badge>
      <lux-badge color="success" variant="flat">Success</lux-badge>
      <lux-badge color="warning" variant="flat">Warning</lux-badge>
      <lux-badge color="danger" variant="flat">Danger</lux-badge>
      <lux-badge color="dark" variant="flat">Dark</lux-badge>
      <lux-badge color="muted" variant="flat">Muted</lux-badge>
      <!-- For dark backgrounds -->
      <lux-badge color="secondary" variant="flat">Secondary</lux-badge>
      <lux-badge color="light" variant="flat">Light</lux-badge>
  .lux-tabs-panel#html-flat
    .lux-tab__description
      | To render a badge without background and border, apply the class <code>-flat</code>.
    :code(lang="html")
      <!-- For light backgrounds -->
      <div class="lux-badge -primary -flat">
        <span>Primary</span>
      </div>
      <div class="lux-badge -success -flat">
        <span>Success</span>
      </div>
      <div class="lux-badge -warning -flat">
        <span>Warning</span>
      </div>
      <div class="lux-badge -danger -flat">
        <span>Danger</span>
      </div>
      <div class="lux-badge -dark -flat">
        <span>Dark</span>
      </div>
      <div class="lux-badge -muted -flat">
        <span>Muted</span>
      </div>
      <!-- For dark backgrounds -->
      <div class="lux-badge -secondary -flat">
        <span>Secondary</span>
      </div>
      <div class="lux-badge -light -flat">
        <span>Light</span>
      </div>

h2 Icon badges
p.-text Icons can be placed before, after, or on both sides of text.
.example.-mb--3
  .-p--2
    lux-badge(class='-m--1')
      lux-icon(icon='plus', size='xs')
      span Badge
    lux-badge(class='-m--1')
      span Badge
      lux-icon(icon='x', size='xs')
    lux-badge(class='-m--1', variant='flat', color='success')
      lux-icon(icon='circle')
      span Active
    lux-badge(class='-m--1', variant='flat', color='warning')
      lux-icon(icon='circle-clock')
      span Away
    lux-badge(class='-m--1', variant='flat', color='danger')
      lux-icon(icon='circle-minus')
      span Do not Disturb
    lux-badge(class='-m--1', variant='flat', color='muted')
      lux-icon(icon='circle')
      span Offline
  .example-tabs.-pl--2
    ul.lux-tabs#example-icon-badges
      li.-active
        a(href=`#webcomponent-icon-badges`) Web Component
      li
        a(href=`#html-icon-badges`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-icon-badges
    :code(lang="html")
      <lux-badge>
        <lux-icon icon="plus" size="xs"></lux-icon>
        <span>Badge</Badge>
      </lux-badge>
      <lux-badge>
        <span>Badge</Badge>
        <lux-icon icon="x" size="xs"></lux-icon>
      </lux-badge>
      <lux-badge variant="flat" color="success">
        <lux-icon icon="circle"></lux-icon>
        <span>Active</Badge>
      </lux-badge>
      <lux-badge variant="flat" color="warning">
        <lux-icon icon="circle-clock"></lux-icon>
        <span>Away</Badge>
      </lux-badge>
      <lux-badge variant="flat" color="danger">
        <lux-icon icon="circle-minus"></lux-icon>
        <span>Do not Disturb</Badge>
      </lux-badge>
      <lux-badge variant="flat" color="muted">
        <lux-icon icon="circle"></lux-icon>
        <span>Offline</Badge>
      </lux-badge>
  .lux-tabs-panel#html-icon-badges
    :code(lang="html")
      <div class="lux-badge">
        <div class="lux-badge__content">
          <i class="lux-icon -xs icon-plus"></i>
          <span>Badge</span>
        </div>
      </div>
      <div class="lux-badge">
        <div class="lux-badge__content">
          <span>Badge</span>
          <i class="lux-icon -xs icon-x"></i>
        </div>
      </div>
      <div class="lux-badge -flat -success">
        <div class="lux-badge__content">
          <i class="lux-icon icon-circle"></i>
          <span>Active</span>
        </div>
      </div>
      <div class="lux-badge -flat -warning">
        <div class="lux-badge__content">
          <i class="lux-icon icon-circle-clock"></i>
          <span>Away</span>
        </div>
      </div>
      <div class="lux-badge -flat -danger">
        <div class="lux-badge__content">
          <i class="lux-icon icon-circle-minus"></i>
          <span>Do not disturb</span>
        </div>
      </div>
      <div class="lux-badge -flat -muted">
        <div class="lux-badge__content">
          <i class="lux-icon icon-circle"></i>
          <span>Offline</span>
        </div>
      </div>

h2 Additional Sizes
h3 Small
.example.-mb--3
  .-p--2
    lux-badge(size='sm', class='-m--1')= 'Badge'
    lux-badge(size='sm', class='-m--1', variant='flat')
      lux-icon(icon='atom')
      span Badge
  .example-tabs.-pl--2
    ul.lux-tabs#example-sizes-small
      li.-active
        a(href=`#webcomponent-sizes-small`) Web Component
      li
        a(href=`#html-sizes-small`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-sizes-small
    .lux-tab__description
      | Set the attribute <code>size</code> to <code>sm</code> to render small badges.
    :code(lang="html")
      <lux-badge size="sm">Badge</lux-badge>
      <lux-badge size="sm" variant="flat">
        <lux-icon icon="atom"></lux-icon>
        <span>Badge</span>
      </lux-badge>
  .lux-tabs-panel#html-sizes-small
    .lux-tab__description
      | Use the <code>-sm</code> modifier class to render small badges.
    :code(lang="html")
      <div class="lux-badge -sm">
        <span>Badge</span>
      </div>
      <div class="lux-badge -flat -sm">
        <div class="lux-badge__content">
          <i class="lux-icon icon-atom"></i>
          <span>Badge</span>
        </div>
      </div>

h3 Extra small
.example.-mb--3
  .-p--2
    lux-badge(size='xs', class='-m--1')= 'Badge'
    lux-badge(size='xs', class='-m--1', variant='flat')
      lux-icon(icon='atom')
      span Badge
  .example-tabs.-pl--2
    ul.lux-tabs#example-sizes-extra-small
      li.-active
        a(href=`#webcomponent-sizes-extra-small`) Web Component
      li
        a(href=`#html-sizes-extra-small`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-sizes-extra-small
    .lux-tab__description
      | Set the attribute <code>size</code> to <code>xs</code> to render even smaller badges.
    :code(lang="html")
      <lux-badge size="xs">Badge</lux-badge>
      <lux-badge size="xs" variant="flat">
        <lux-icon icon="atom"></lux-icon>
        <span>Badge</span>
      </lux-badge>
  .lux-tabs-panel#html-sizes-extra-small
    .lux-tab__description
      | Use the <code>-xs</code> modifier class to render even smaller badges.
    :code(lang="html")
      <div class="lux-badge -xs">
        <span>Badge</span>
      </div>
      <div class="lux-badge -flat -xs">
        <div class="lux-badge__content">
          <i class="lux-icon icon-atom"></i>
          <span>Badge</span>
        </div>
      </div>

h2 Text Transform
.example.-mb--3
  .-p--2
    lux-badge(text-transform='uppercase', class='-m--1')= 'Badge'
    lux-badge(text-transform='lowercase', class='-m--1')= 'BADGE'
    lux-badge(text-transform='capitalized', class='-m--1')= 'badge'
  .example-tabs.-pl--2
    ul.lux-tabs#example-text-transformation
      li.-active
        a(href=`#webcomponent-text-transformation`) Web Component
      li
        a(href=`#html-text-transformation`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-text-transformation
    .lux-tab__description
      | Set the <code>text-transform</code> attribute to <code>uppercase</code> to render badges in uppercase,
      | <code>lowercase</code> to render badges in lowercase and <code>capitalized</code> to render badges as capitalized.
    :code(lang="html")
      <lux-badge text-transform="uppercase">Badge</lux-badge>
      <lux-badge text-transform="lowercase">BADGE</lux-badge>
      <lux-badge text-transform="capitalized">badge</lux-badge>
  .lux-tabs-panel#html-text-transformation
    .lux-tab__description
      | Use the <code>-text--uppercase</code> text utility class to render badges in all uppercase. <code>-text--lowercase</code> and <code>-text--capitalized</code> are also supported.
    :code(lang="html")
      <div class="lux-badge -text--uppercase">
        <span>Badge</span>
      </div>
      <div class="lux-badge -text--lowercase">
        <span>Badge</span>
      </div>
      <div class="lux-badge -text--capitalized">
        <span>Badge</span>
      </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      lux.tab(document.querySelectorAll('.lux-tabs-panel .lux-tabs'));
    }
  );
